# Pandas-datareader

* https://pandas-datareader.readthedocs.io/en/latest/

In [20]:
!pip install pandas_datareader
!pip install yfinance

Requirement already satisfied: pandas_datareader in c:\users\rokzu\miniconda3\lib\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\users\rokzu\miniconda3\lib\site-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: requests>=2.19.0 in c:\users\rokzu\miniconda3\lib\site-packages (from pandas_datareader) (2.28.1)
Requirement already satisfied: pandas>=0.23 in c:\users\rokzu\miniconda3\lib\site-packages (from pandas_datareader) (1.5.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rokzu\miniconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rokzu\appdata\roaming\python\python310\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\rokzu\miniconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.23.5)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\rokzu\miniconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rokzu\miniconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rokzu\miniconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rokzu\miniconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: six>=1.5 in c:\users\rokzu\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Collecting yfinance
  Downloading yfinance-0.2.12-py2.py3-none-any.whl (59 kB)
     ---------------------------------------- 59.2/59.2 kB 3.1 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.5-cp310-cp310-win_amd64.whl (35 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\users\rokzu\miniconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: pytz>=2022.5 in c:\users\rokzu\miniconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: pandas>=1.3.0 in c:\users\rokzu\miniconda3\lib\site-packages (from yfinance) (1.5.2)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\rokzu\miniconda3\lib\site-packages (from yfinance) (1.4.4)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     -------------------------------------- 112.2/112.2 kB 2.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in c:\users\rokzu\miniconda3\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\rokzu\miniconda3\lib\site-packages (from yfinance) (38.0.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: requests>=2.26 in c:\users\rokzu\miniconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\rokzu\miniconda3\lib\site-packages (from yfinance) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\rokzu\miniconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in c:\users\rokzu\miniconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in c:\users\rokzu\miniconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\rokzu\appdata\roaming\python\python310\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rokzu\appdata\roaming\python\python310\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rokzu\miniconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rokzu\miniconda3\lib\site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rokzu\miniconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\rokzu\miniconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: pycparser in c:\users\rokzu\miniconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.3.5 html5lib-1.1 multitasking-0.0.11 yfinance-0.2.12

In [29]:
import pandas_datareader as pdr
import pandas as pd

In [26]:
import datetime as dt

In [27]:
ticker = "AAPL"
start = dt.datetime(2019, 1, 1)
end = dt.datetime(2020, 12, 31)

data = pdr.get_data_yahoo(ticker,start,end)

TypeError: string indices must be integers

Getting the data using the APIs didn't work, so I went on Yahoo Finance website and downloaded a CSV file
from January 2019 to December 2020

In [30]:
data = pd.read_csv("AAPLCourse5.csv", index_col = 0, parse_dates = True)

In [31]:
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-01-02  38.722500  39.712502  38.557499  39.480000  38.047043  148158800
2019-01-03  35.994999  36.430000  35.500000  35.547501  34.257278  365248800
2019-01-04  36.132500  37.137501  35.950001  37.064999  35.719700  234428400
2019-01-07  37.174999  37.207500  36.474998  36.982498  35.640198  219111200
2019-01-08  37.389999  37.955002  37.130001  37.687500  36.319611  164101200

In [33]:
data.index

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15',
               ...
               '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21',
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28',
               '2020-12-29', '2020-12-30'],
              dtype='datetime64[ns]', name='Date', length=504, freq=None)

In [34]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [35]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-23,132.160004,132.429993,130.779999,130.960007,129.209274,88223700
2020-12-24,131.320007,133.460007,131.100006,131.970001,130.205765,54930100
2020-12-28,133.990005,137.339996,133.509995,136.690002,134.862656,124486200
2020-12-29,138.050003,138.789993,134.339996,134.869995,133.067001,121047300
2020-12-30,135.580002,135.990005,133.399994,133.720001,131.932373,96452100

In [36]:
data2 = pdr.get_data_stooq(ticker,start)

Here we could retrieve data using pandas_datareader using get_data_stooq

In [38]:
data2.tail()

               Open     High      Low    Close        Volume
Date
2019-01-08  36.0899  36.6342  35.8367  36.3711  1.700222e+08
2019-01-07  35.8786  35.9104  35.2046  35.6911  2.270168e+08
2019-01-04  34.8746  35.8446  34.6991  35.7729  2.428866e+08
2019-01-03  34.7431  35.1588  34.2635  34.3094  3.784272e+08
2019-01-02  37.3770  38.3281  37.2125  38.1048  1.535046e+08

In [41]:
nasdaq_sym = pdr.get_nasdaq_symbols()

In [44]:
nasdaq_sym.loc['AAPL']

Nasdaq Traded                            True
Security Name       Apple Inc. - Common Stock
Listing Exchange                            Q
Market Category                             Q
ETF                                     False
Round Lot Size                          100.0
Test Issue                              False
Financial Status                            N
CQS Symbol                                NaN
NASDAQ Symbol                            AAPL
NextShares                              False
Name: AAPL, dtype: object

In [45]:
len(nasdaq_sym)

11624

In [46]:
nasdaq_sym.head()

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AAA,True,Investment Managers Series Trust II AXS First ...,P,,True,100.0,False,NaN,AAA,AAA,False
AAAU,True,Goldman Sachs Physical Gold ETF Shares,Z,,True,100.0,False,NaN,AAAU,AAAU,False
AAC,True,Ares Acquisition Corporation Class A Ordinary ...,N,,False,100.0,False,NaN,AAC,AAC,False